.cardCalendario{
    width: 190px;
    height: 200px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 5px 5px 40px #bebebe;
    padding-top: 20px;
    display: flex;
    flex-direction: column; /* Coloca los elementos uno debajo del otro */
    align-items: center;
    padding: 30px;  
}

.cardCalendario label{
    color: black;
    margin-bottom: 30px;
}

.cardCalendario input {
    width: auto;             /* Ancho del input */
    padding: 10px 15px;       /* Espaciado interno */
    border: 2px solid #3498db; /* Borde con color azul claro */
    border-radius: 25px;      /* Bordes redondeados */
    font-size: 16px;          /* Tamaño de la fuente */
    outline: none;            /* Elimina el contorno azul al hacer click */
    color: #333;              /* Color del texto */
    background-color: #f0f4f8; /* Color de fondo suave */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
}

.cardCalendario input:focus {
    border-color: #2980b9;    /* Cambia el color del borde al enfocarlo */
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.6); /* Sombra azul alrededor */
}